*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
header{
    font-family: 'comic Sans MS';
    font-size: 2.5em;
    font-weight: normal;
}
#titulo{
    display: inline-block;
}
#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
    height: 140px;
}
nav{
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: gray;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 15px;
}
nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75em;
    color: beige;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover{
    color: crimson;
    border-bottom: 3px solid skyblue;
}
img{
    height: 250px;
}
article{
    padding: 10px;
}
section{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 75%;
}
aside{
    padding: 5px;
    font-style: italic;
    float: right;
    width: 20%;
    border: 2px solid;
}
footer{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-top: 2px solid #000;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 10px;
}